.about-us-section {
  padding-bottom: 100px;
  background-color: hsl(306, 37%, 20%);
  color: white;
  margin-top: -30px;
}

.about-us-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  flex-wrap: wrap;
}

.about-us-text {
  flex: 1;
  padding-right: 20px;
  text-align: left;
}

.about-us-title {
  margin-bottom: 30px;
}

.about-us-description {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 15px;
}

.about-us-image {
  flex: 1;
  max-width: 500px;
  text-align: center;
}

.about-us-image img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
@media (max-width: 768px) {
  .about-us-content {
    flex-direction: column;
    text-align: center;
  }

  .about-us-image {
    margin-top: 20px;
    order: 2; /* Ensures image is displayed below the title */
  }

  .about-us-text {
    padding-right: 0;
    order: 1; /* Ensures text is displayed above the image */
  }

  .about-us-title {
    font-size: 2rem;
  }

  .about-us-description {
    font-size: 1rem;
  }
}
