.services-section {
  padding: 60px 0;
  background-color: #f7f4f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-title {
  font-size: 2.8rem;
  margin-bottom: 50px;
  color: #452041;
  font-family: 'Glysa', 'Book Antiqua', Palatino, serif;
}

.service-item {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  width: 80%;
  max-width: 1200px;
  perspective: 1000px;
}

.service-card {
  background: #ddc3dc;
  border-radius: 15px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 80%;
  max-width: 1000px;
  display: flex;
  align-items: center;
  transition: transform 0.6s ease, box-shadow 0.6s ease;
  transform-style: preserve-3d;
}

.service-card:hover {
  transform: rotateY(15deg) translateY(-10px);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2);
}

.service-icon-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
  flex-shrink: 0;
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
}

.service-icon {
  font-size: 3rem;
  color: #452041;
  margin-bottom: 10px;
  transition: color 0.6s ease;
}

.service-title {
  font-size: 1.8rem;
  text-align: center;
  transform: translateZ(20px);
  transition: transform 0.6s ease, color 0.6s ease;
}

.service-card:hover .service-icon-title {
  transform: rotateY(-15deg) translateZ(30px);
}


.service-card:hover .service-title {
  transform: translateZ(40px);
}

.service-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.service-description {
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: left;
  transform: translateZ(10px);
  transition: transform 0.6s ease, color 0.6s ease;
}

.service-card:hover .service-description {
  transform: translateZ(30px);
}

/* Responsive Design */
@media (max-width: 768px) {
  .service-card {
    flex-direction: column;
    text-align: center;
    padding: 30px;
  }

  .service-icon-title {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .service-description {
    text-align: center;
  }
}
