.menu-desktop {
  display: flex;
}

.products-page {
  margin-top: 80px; /* Adjust this value according to your navbar's height */
}

.menu-mobile {
  display: none;
}

.drawer-header {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}

@media (max-width: 1024px) {
  .menu-desktop {
    display: none;
  }

  .menu-mobile {
    display: block;
  }
}
